%main.main
  .banner
    %img{src: asset_path('sunset.jpg')}

    .text-block
      = render 'partials/expo_date'

    .button-round
      %a.fa.fa-chevron-down{href: '#content'}

  .container#content
    .text-block
      = render 'partials/expo'