%main.main
  .container-full
    .text-block
      .section.text-center
        %h3 Summer Expo
        %h6 October 29th, 2016
        %h6 Long Beach Convention Center
        %h6 300 E Ocean Blvd, Long Beach, CA 90802

    .text-center
      %a.btn.btn-default{href: "https://www.eventbrite.com/e/socal-vr-con-tickets-24975917642?aff=es2", target: "_blank"} Buy Tickets

    .embed-container
      .embed
        %iframe{src: "https://www.youtube.com/embed/4WhqQ1aq0Kw", allowfullscreen: "true"}
