%main.main
  .container-full
    .text-block
      .section.text-center
        %h3 Fall Expo
        %h6 October 29th, 2016
        %h6 Long Beach Convention Center
        %h6 300 E Ocean Blvd, Long Beach, CA 90802

      .section
        %p.subheader Join us this year for the 1st ever Virtual Reality Horror Conference & Expo featuring a 360 horror film fest, a VR multiplayer haunted house experience, an esports competition, a horrific medical division, and hardware and peripheral demos. Get your tickets now before early bird ends!

    .embed-container
      .embed
        %iframe{src: "https://www.youtube.com/embed/4WhqQ1aq0Kw", allowfullscreen: "true"}

    .embed-container
      .embed.eventbrite
        %iframe{src: "//eventbrite.com/tickets-external?eid=24975917642&ref=etckt"}
