.navbar{
  position:fixed;
  top:0;
  left:0;
  height:56px;
  width:100%;
  padding:0 16px;
  background-color:#FFF;
  z-index:100;
  @include box-shadow(0 3px 9px rgba(#000,.26));

  @include tablet{
    height:64px }

} // end '.navbar'


/*=========================
       Menu Toggle
=========================*/
.navbar-toggle{
  display:none }

.navbar-toggle-open{
  position:relative;
  float:left;
  margin-left:-16px;
  padding:28px;
  cursor:pointer;

  @include tablet{
    padding:32px }

} // end '.navbar-toggle-open'

.navbar-toggle-close{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:1px;
  background-color:#000;
  opacity:0;
  z-index:-1;
  @include transition(width 0s linear .3s, z-index 0s linear .3s, opacity .1s cubic-bezier(.4,0,.2,1) .2s);

  .navbar-toggle:checked ~ &{
    width:100%;
    opacity:.3;
    z-index:150;
    @include transition(width 0s linear 0s, z-index 0s linear 0s, opacity .1s cubic-bezier(.4,0,.2,1) 0s) }

} // end '.navbar-toggle-close'

.hamburger{
  @include hamburger() }


/*=========================
           Logo
=========================*/
.navbar-logo{
  @include transition(opacity .3s cubic-bezier(.4,0,.2,1));

  &,
  img,
  p{
    float:right;
    height:56px }

  img{
    padding:12px 0;
    opacity:.75;
    @include transform(scaleX(-1)) }

  p{
    margin:0;
    padding-right:8px;
    text-transform:uppercase;
    line-height:56px;
    font-family:'Alfa Slab One','Roboto',Arial,sans-serif;
    font-size:20px;
    color:#000;
    color:rgba(#000,.75);

    span{
      color:$orange-500;
      color:rgba($orange-500,.75) }

  } // end 'p'

  .navbar-toggle:checked ~ &{
    opacity:0;
    @include transition(opacity .2s cubic-bezier(.4,0,.2,1)) }

  @include tablet{
    &,
    img,
    p{
      height:64px }

    img{
      padding:8px 0 }

    p{
      line-height:64px;
      font-size:24px }

  } // end 'tablet'
} // end '.navbar-logo'


/*=========================
           Menu
=========================*/
.navbar-menu{
  position:fixed;
  top:0;
  left:-261px;
  height:100%;
  width:260px;
  background-color:#FFF;
  z-index:200;
  -webkit-overflow-scrolling:touch;
  @include transition(left .3s cubic-bezier(.4,0,.2,1) 0s);

  .navbar-toggle:checked ~ &{
    left:0;
    overflow-x:hidden;
    overflow-y:auto;
    cursor:default;
    @include box-shadow(8px 0 24px rgba(#000,.26));
    @include transition(left .2s cubic-bezier(.4,0,.2,1) .1s) }

  .navbar-logo{
    float:none;
    border-bottom:1px solid $gray-200;
    padding-left:24px;

    img,
    p{
      float:left }

    img{
      padding:12px 0;
      @include transform(scaleX(1)) }

    p{
      padding-right:0;
      padding-left:10px;
      font-size:20px }

  } // end '.navbar-logo'

  .menu-footer{
    position:absolute;
    bottom:0;
    height:48px;
    width:100%;
    padding-left:24px;
    border-top:1px solid $gray-200;

    p{
      line-height:48px }

  } // end '.menu-footer'


  /*=========================
         Link Ripples
  =========================*/
  .ripple-container{
    position:absolute;
    top:0;
    left:0;
    height:48px;
    width:260px;
    background-color:$gray-300;
    z-index:-1 }

  .ripple{
    position:absolute;
    border-radius:50%;

    &.click{
      @include animation(buttonClick .7s) }

    &.focus{
      @include animation(buttonFocus 2s ease-in-out 0s infinite normal both) }

  } // end '.ripple'


  /*=========================
             List
  =========================*/
  ul{
    list-style-type:none;
    margin:0;
    padding:0;

    li{
      font-weight:500;
      letter-spacing:.01em;

      a{
        display:block;
        position:relative;
        height:48px;
        padding-left:24px;
        text-decoration:none;
        line-height:48px;
        font-size:14px;
        color:#000;
        color:rgba(#000,.75);
        overflow:hidden;
        @include transition(background-color .25s);

        &.active{
          color:$orange-accent-400;
          color:rgba($orange-accent-400,.75) }

        &:hover{
          background-color:$gray-100 }

        &:focus{
          background-color:transparent;
          outline:none }

      } // end 'a'
    } // end 'li'
  } // end 'ul'
} // end '.navbar-menu'

