/*=========================
         Main Tag
=========================*/
.main{
  padding-top:56px;

  @include tablet{
    padding-top:64px }

} // end '.main'


/*=========================
        Container
=========================*/
.container{
  position:relative;
  width:calc(100% - 16px);
  max-width:1200px;
  margin:8px auto;
  padding:16px;
  background-color:#FFF;
  z-index:50;
  @include box-shadow(0 2px 6px rgba(#000,.26));

  @include tablet{
    padding:32px }

} // end '.container'


/*=========================
        Text Block
=========================*/
.text-block{
  margin:0 auto;

  .section:not(:first-child){
    margin-top:35px }

  .section{
    h6{
      margin-bottom:0;
      
      p{
        display:inline-block }

    } // end 'h6'
  } // end '.section'

  @include tablet{
    max-width:750px }

} // end '.text-block'

