@font-face {
  font-family:'Roboto';
  src:font-url('Roboto-Regular.ttf');
  font-weight:400;
  font-style:normal
}

@font-face {
  font-family:'Roboto';
  src:font-url('Roboto-Italic.ttf');
  font-weight:400;
  font-style:italic
}

@font-face {
  font-family:'Roboto';
  src:font-url('Roboto-Light.ttf');
  font-weight:300;
  font-style:normal
}

@font-face {
  font-family:'Roboto';
  src:font-url('Roboto-LightItalic.ttf');
  font-weight:300;
  font-style:italic
}

@font-face {
  font-family:'Roboto';
  src:font-url('Roboto-Medium.ttf');
  font-weight:500;
  font-style:normal
}

@font-face {
  font-family:'Roboto';
  src:font-url('Roboto-MediumItalic.ttf');
  font-weight:500;
  font-style:italic
}

@font-face {
  font-family:'Alfa Slab One';
  src:font-url('AlfaSlabOne-Regular.ttf');
  font-weight:400;
  font-style:normal
}
