.image.col-sm-4.col-md-4.col-lg-4
  %a{href: 'http://warpedimagination.com', target: '_blank'}
    %img{src: asset_path('WarpedImagination.png')}
.image.col-sm-4.col-md-4.col-lg-4
  %a{href: 'http://www.vrlive.com', target: '_blank'}
    %img{src: asset_path('VRLive.png')}
.image.col-sm-4.col-md-4.col-lg-4
  %a{href: 'http://www.vrideo.com', target: '_blank'}
    %img{src: asset_path('Vrideo.png')}
.image.col-sm-4.col-md-4.col-lg-4
  %a{href: 'http://www.ovalintegration.com', target: '_blank'}
    %img{src: asset_path('Oval.png')}
.image.col-sm-4.col-md-4.col-lg-4
  %a{href: 'http://www.sidekickvrgames.com', target: '_blank'}
    %img{src: asset_path('Sidekick.png')}
.image.col-sm-4.col-md-4.col-lg-4
  %a{href: 'http://www.otherworldinteractive.com', target: '_blank'}
    %img{src: asset_path('Otherworld.png')}
.image.col-sm-4.col-md-4.col-lg-4
  %a{href: 'http://funktroniclabs.com/collider', target: '_blank'}
    %img{src: asset_path('Funktronic.png')}
.image.col-sm-4.col-md-4.col-lg-4
  %a{href: 'https://www.microsoft.com/en-us/default.aspx', target: '_blank'}
    %img{src: asset_path('Microsoft.png')}
.image.col-sm-4.col-md-4.col-lg-4
  %a{href: 'http://www.otoy.com', target: '_blank'}
    %img{src: asset_path('Otoy.png')}
.image.col-sm-4.col-md-4.col-lg-4
  %a{href: 'http://www.templegatesgames.com', target: '_blank'}
    %img{src: asset_path('Bazaar.png')}
.image.col-sm-4.col-md-4.col-lg-4
  %a{href: 'http://www.360heros.com', target: '_blank'}
    %img{src: asset_path('360Heros.png')}
.image.col-sm-4.col-md-4.col-lg-4
  %a{href: 'http://www.flarb.com', target: '_blank'}
    %img{src: asset_path('Flarb.png')}