// =========================
//        Footer Main
// =========================
.footer{
	position:relative;
	height:112px;
	width:100%;
  padding:0 16px;
  background-color:$gray-900;
  text-align:center;
  z-index:75;
  @include box-shadow(0 -1px 3px rgba(#000,.26));

  // Updated styles for tablet-sized screens and larger
  @include tablet{
  	height:128px;
    padding:0 24px
  }
}


// =========================
//        Footer Menu
// =========================
.footer-menu{
	display:inline-block;
	list-style-type:none;
	height:112px;
	margin:0;
	padding:28px;

	@include tablet{
    height:128px;
    padding:32px
  }

	.ripple{
		position:absolute;
		border-radius:50%
	}

	li{
		float:left;

		&:nth-child(1){
			a:focus{
				background-color:#CCC;
				background-color:rgba(#00ACED,.26)
			}

			.ripple{
				background-color:#00ACED
			}
		}

		&:nth-child(2){
			a:focus{
				background-color:#CCC;
				background-color:rgba(#FFF,.2)
			}

			.ripple{
				background-color:#FFF
			}
		}

		&:nth-child(3){
			a:focus{
				background-color:#CCC;
				background-color:rgba(#3B5998,.26)
			}

			.ripple{
				background-color:#3B5998
			}
		}
	}

	a{
		position:relative;
		float:left;
		margin:4px 1px;
		border-radius:50%;
		font-size:30px;
		text-decoration:none;
		overflow:hidden;

		&:focus{
			outline:0;
			border:0
		}

		@include tablet{
			margin:8px 1px
		}
	}

	.fa-twitter{
		color:#00ACED
	}

	.fa-envelope{
		color:#FFF
	}

	.fa-facebook{
		color:#3B5998
	}
}
