@import 'components/footer/main';

// Updated styles for phone-sized screens in landscape orientation
@include landscape{
  .footer{
    ul{
      height:48px;
      margin-top:12px
    }

    a{
      margin:0
    }

    p{
      height:48px;
      line-height:48px;
      margin-bottom:0
    }
  }
}