@import 'global/main';
// =========================
//         Body Tag
// =========================
body{
  // Updated styles for small desktop-sized screens and larger
  @include desktop-sm{
    font-size:13px
  }
}

.eventbrite {
  padding-bottom: 401px;
}


// =========================
//        Banner Tag
// =========================
.banner{
  .text-block{
    bottom:40%;
  }
}
