@import 'global/main';
// =========================
//         Main Tag
// =========================
.main{
  // Updated styles for small desktop-sized screens and larger
  @include landscape{
    margin-top:48px
  }
}


// =========================
//        Banner Tag
// =========================
.banner{
  .text-block{
    bottom:30%;
  }
}

a {
  margin-top: 24px;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 10px 16px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3333333;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-default {
  color: rgba(#fff, 0.85);
  background-color: $orange-500;
  border-color: $orange-700;
}

.btn-default:focus,
.btn-default.focus,
.btn-default:hover,
.btn-default.hover,
.btn-default:active,
.btn-default.active {
  color: rgba(#fff, 0.85);
  background-color: $orange-600;
  border-color: $orange-800;
}

.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default:active.focus,
.btn-default.active.focus  {
  color: rgba(#fff, 0.85);
  background-color: $orange-700;
  border-color: $orange-900;
}

.btn-default:active,
.btn-default.active  {
  background-image: none;
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color:$orange-300;
  border-color: $orange-500;
}
