%footer.footer
  %ul.footer-menu
    %li
      %a{href: 'https://twitter.com/socalvr', target: '_blank'}
        = icon('twitter', class: 'fa-fw')
    %li
      %a{href: 'mailto:dylanwatkins@gmail.com?Subject=SoCal%20VR%20Con', target: '_top'}
        = icon('envelope-o', class: 'fa-fw')
    %li
      %a{href: 'https://www.facebook.com/SocalVR', target: '_blank'}
        = icon('facebook', class: 'fa-fw')
