%footer.footer
  %ul
    %li
      %a.fa.fa-fw.fa-twitter{href: 'https://twitter.com/socalvr', target: '_blank'}
    %li
      %a.fa.fa-fw.fa-envelope{href: 'mailto:dylanwatkins@gmail.com?Subject=SoCal%20VR%20Con', target: '_top'}
    %li
      %a.fa.fa-fw.fa-facebook{href: 'https://www.facebook.com/SocalVR', target: '_blank'}

  %p Powered By Monster VR
