%footer.footer
  %ul.footer-menu
    %li
      %a{href: 'https://twitter.com/socalvr', target: '_blank'}
        %i.fa.fa-fw.fa-twitter
    %li
      %a{href: 'mailto:dylanwatkins@gmail.com?Subject=SoCal%20VR%20Con', target: '_top'}
        %i.fa.fa-fw.fa-envelope
    %li
      %a{href: 'https://www.facebook.com/SocalVR', target: '_blank'}
        %i.fa.fa-fw.fa-facebook
